*~
*.orig
*.bak
build
*.so
*.h
*.c
bin
lib
include
test
Makefile.in
aclocal.m4
autom4te.cache
.deps
.libs
*.o
missing
ltmain.sh
INSTALL
install-sh
stamp-*
*.stamp
*.la
*.lo
*.pc
testdir
config
*.preprocessed.vala
messages.mdb

